:root {
	--body-color: #f2f6ff;
	--text-color: #f5fbff;
	--button-color: #3792c6;
	--text-color-darkgrey: #202020;
}

body,
html {
	height: 100%;
	background-color: var(--body-color);
	font-family: "Poppins", sans-serif;
}

.navbar {
	transition: top 0.3s ease;
	top: 0;
	z-index: 9999;
}

* {
	z-index: 2;
	font-family: "Poppins", sans-serif;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
}

.nav-link {
	font-size: 17px;
	font-weight: 500;
}

.nav-link.active {
	font-weight: 600;
}

.button-biru {
	width: 120px;
	height: 40px;
	background-color: var(--button-color);
	color: var(--text-color);
	border: none;
	border-radius: 50px;
	font-size: 17px;
	font-weight: 600;
	text-decoration: none;
}

/* halaman utama start */
.hero {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-image: url(../img/hero.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero .content .button-biru {
	margin-top: 14rem;
	margin-left: 5.7rem;
	width: 180px;
	height: 45px;
	font-size: 16px;
}

.hero .content .button-biru:hover {
	background-color: #367da5;
	transition: ease 0.4s;
	color: var(--text-color);
}

.product-section {
	padding: 5rem 0;
}
.product-section .product-item {
	text-align: center;
	text-decoration: none;
	display: block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
	cursor: pointer;
	background-color: #367ca537;
	border-radius: 40px;
}
.product-section .product-item h3 {
	font-weight: 600;
	font-size: 16px;
}
.product-section .product-item strong {
	font-weight: 800;
	font-size: 17px;
}
.product-section .product-item h3,
.product-section .product-item strong {
	color: var(--text-color-darkgrey);
	text-decoration: none;
}

.product-section .button-biru:hover {
	background-color: #367da5;
	transition: ease 0.4s;
	color: var(--text-color);
}

.why-choose-section {
	padding: 7rem 0;
}

.feature {
	margin-bottom: 30px;
}
.feature .icon {
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}
.feature h3 {
	font-size: 14px;
	color: var(--text-color-darkgrey);
}
.feature p {
	font-size: 14px;
	line-height: 22px;
	color: #6a6a6a;
}

footer {
	width: 100%;
	height: 270px;
	background: #202020;
}

.copyright {
	color: var(--text-color);
	bottom: 1%;
	font-family: "Poppins";
	font-size: 14px;
	line-height: 21px;
}

footer a {
	font-family: "Poppins";
	font-weight: 500;
	font-size: 17px;
	line-height: 10px;
	color: var(--text-color);
	text-decoration: none;
}
